/* TestCSS.css */
/* Programme par Vadym Lityuk */
/* Le 21 novembre 2019 */
body {
    width : 1900px;
}
body {
    background: url("https://img.wallpapersafari.com/desktop/1600/900/62/81/iU6oQ8.jpg");




}
body{
    border-style: outset;
    border-radius: 50px;
    border-width: 6px;
    border-color: #564487;

}

h1,h2,h2,h3,h4,h5 {
    color: #564487;
}
a
{
    text-decoration-line: none;
}
a:hover {
    text-decoration-line: underline;
}

h1{
    font-size: 36px;

}

h2{
    font-size: 24px;
}
p{
    font-size: 18px;
    color: #564487;
}
p{
    text-align: justify;
}
h1,h2 {
    text-align: center;

}
p,h3,h4,h5{
    text-align: center;
}
h3,h4,h5 {
    font-size: 18px;
}

a,h1:hover{
    color: #EF8FE5;

}
a,h2:hover{
    color: #EF8FE5;
}
a,h3:hover{
    color: #EF8FE5;
}
a,h4:hover{
    color: #EF8FE5;
}
a,h5:hover{
    color: #EF8FE5;
}
img{
    border-radius: 35px;
}

img:hover {
    box-shadow: 0 0 5px 3px rgba(255, 0, 0, 0.2);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
.plum {
    color : darkviolet;
}
.pink {
    color: rebeccapurple;
}