

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

$grisTresPale: #f6f6f6;
$grisPale: #e6e6e6;
$grisMoyen: #8d8d8d;
$grisFonce: #333;
$violet: #EE82EE;
$head : #442877;
$nava: #7864a7;
$shadow: 0px 15px 45px -9px rgba(106, 90, 205);

$myColor : #e17efa;
$hovercolor : #a636c2;

.nava{
  background-image: url('../img/nava.jpg');
}

.header{
  background-image: url('../img/head2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 8rem 
}

h1,h4{
  color: $head;
  font-weight: 700;
  font-family: 'Aldrich', sans-serif;
  
}

