<p>
  <!-- Navigation-->
    <mat-toolbar color="primary" class="mat-elevation-z5">
      <span><mat-icon>cloud</mat-icon> App Voyages VL</span>
      <div class='devider'> </div>
      <a  mat-button routerLink="Accueil">Accueil</a>
      <a mat-button routerLink="TableForfait">Administration</a>
      <a mat-button routerLink="Apropos">À propos</a>
      <a mat-button routerLink="Graphique">Graphiques</a>
      <a mat-button routerLink="Cuba">Forfait Cuba</a>
      <a mat-button routerLink="TouteForfait"> Tous les forfaits</a>
   
    </mat-toolbar>
  </p>