.hero-1 {
    
   padding-right: 5em;
    background-color:#2a2d47;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    width: 8rem;
    height: 6rem;
}
  