
<h1>Administration</h1>

<hr>
<table id="tableadimn" mat-table #tableForfaits [dataSource]="forfaits">
    <!-- TABLE HOTEL DATA-->
    <ng-container matColumnDef="dateDepart">
        <th mat-header-cell *matHeaderCellDef> Date de départ </th>
        <td mat-cell *matCellDef="let forfait"> {{forfait.dateDepart }} </td> 
    </ng-container>
    <ng-container matColumnDef="dateRetour">
        <th mat-header-cell *matHeaderCellDef> Date de retour </th>
        <td mat-cell *matCellDef="let forfait"> {{forfait.dateRetour}} </td>
    </ng-container>
    <ng-container matColumnDef="nomHotel">
        <th mat-header-cell *matHeaderCellDef> Nom de l'hôtel</th>
        <td mat-cell *matCellDef="let forfait"> {{forfait.hotel.nom}} </td>
    </ng-container>
    <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef> Prix </th>
        <td mat-cell *matCellDef="let forfait"> {{forfait.prix}} </td> Valeur associé à la colonne
    </ng-container>
    <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef> Destination </th>
        <td mat-cell *matCellDef="let forfait"> {{forfait.destination}} </td> Valeur associé à la colonne
    </ng-container>
    <!-- ACTIONS -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let forfait" class="boutonsAction">
            <button *ngIf="(selectedForfait && selectedForfait === forfait);else editButton;" color="primary" form="heroFormEdition" 
     mat-button><i class="material-icons">done</i></button>
            <ng-template #editButton>
                <form (ngSubmit)="openDialogEditForfait(forfait)">
                    <button matSuffix mat-icon-button type="submit">
                        <i class="material-icons">edit</i></button>
                </form>
            </ng-template>
            <form (ngSubmit)="onDelete(forfait)">
                <button mat-button ><i class="material-icons">delete</i></button>
            </form>
        </td>
     </ng-container>
 

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
   <!-- ACTIONS <button class="btn-hover mycolor reserve" (click)="openDialogNewForfait()">
    Ajout d'un forfait
 </button> -->
 <hr>
 <h1>  Ajout d'un forfait</h1>
 <form #tableadimn="ngForm" id="heroFormAjout" (ngSubmit)="onAdd(tableForfaits, tableadimn);">
    <mat-form-field class="input-full-width">
        <input type="text" name="nom" required minlength="2" maxlength="50" [(ngModel)]="newForfait.destination" matInput #nom="ngModel" placeholder="Destination">
        <button matSuffix  type="submit" mat-icon-button color="primary" [disabled]="!tableadimn.form.valid"><i class="material-icons">add</i></button>
        <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('required')">Le nom est obligatoire.</mat-error>
        <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
        <input type="text" name="nom" required minlength="2" maxlength="50" [(ngModel)]="newForfait.hotel.nom" matInput #nom="ngModel" placeholder="Nom">
        <button matSuffix  type="submit" mat-icon-button color="primary" [disabled]="!tableadimn.form.valid"><i class="material-icons">add</i></button>
        <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('required')">Le nom est obligatoire.</mat-error>
        <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
    </mat-form-field>
 </form>


   
 
 
 
