.mat-card{
    
}

.mat-grid-list{
   background-image: url('https://www.xmple.com/wallpaper/purple-white-gradient-linear-2560x1440-c2-9370db-fff5ee-a-240-f-14.svg');   
    border: 2px solid rgb(155, 119, 155);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

