
    <mat-grid-list cols="4"  rowHeight="2:1" style=" background-image: url('https://www.xmple.com/wallpaper/gradient-linear-pink-blue-2560x1440-c2-fec7ea-c9c7fe-a-225-f-14.svg');   border: 2px solid rgb(90, 33, 78);" >
        <span *ngFor="let item of mesForfaits">
            <mat-grid-tile  *ngIf="item.forfaitVed" >
                    <app-mini-forfait  [forfait]="item" style="position: absolute;  height: 100%;width: 100%;" ></app-mini-forfait >
            </mat-grid-tile>
        </span>
    </mat-grid-list>

   

    <mat-grid-list cols="3" rowHeight='950px' >
       
    

 <app-liste-forfait style="position: relative;  height: 100%;width: 100%;" ></app-liste-forfait> 
   
    </mat-grid-list>




<router-outlet></router-outlet>