.mat-card{
    background-image: url('https://data.whicdn.com/images/236070751/original.gif'); 
    border: 1px solid rgb(105, 130, 184);
    margin: 0.5em;
    padding: 1em;


}
.mat-card-header {
    display: flex; 
    justify-content: space-between;
    
}
.mat-card-title {
    color: rgb(108, 112, 117);
}
.mat-card-subtitle {
    color: rgb(59, 63, 68);

}
.forfaitved{
    color: rgb(59, 63, 68);
}
.mat-card-content{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    color: #fff;
    line-height: 40px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #344aaf, #aecbf8);
}
.forfaitrabais{
    font-size: 20px; 
    color: rgb(91, 143, 202);
    
}
.mat-card-footer{
    display: flex; 
    justify-content: space-between; 
    margin-left: 1em;
    margin-right: 1em; 
}
.subhotel{
    color: rgb(59, 63, 68);
}
.forfaitdiv{
    display:flex; 
    justify-content: space-around;
}
.strikethrough{
    font-size: 20px;
    color: rgb(241, 75, 125);
    position: relative;
  
}
.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
  
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
  }