

.mat-card{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #edf4f5 100%);
    max-height: 180px;
    box-shadow: 0 8px 6px -6px rgb(87, 48, 77);
    margin: 0.5em;
    padding: 1em;


}

.blink {
    font-weight: bold;
    text-transform: uppercase;
    animation: blinker 2s linear infinite;
    color: #ff798f;
  
  }
  @keyframes blinker {  
    50% { opacity: 0; }
  }
  .blink-one {
     animation: blinker-one 10s linear infinite;
  }
  @keyframes blinker-one {  
     0% { opacity: 0; }
  }
  .blink-two {
     animation: blinker-two 11s linear infinite;
  }
  @keyframes blinker-two {  
     100% { opacity: 0; }
  }
  
.mat-card-header {
    display: flex; 
    justify-content: space-between;
    
    
}


.mat-card-title {
    font-family: 'Bebas Neue';
    color:  #b852a8;
}
.subs{
    font-size: 19px;
    font-family: 'Bebas Neue';
    color: #fde6e6;
      
 

}
.mat-card-subtitle {
    font-size: 19px;
    font-family: 'Bebas Neue';
    color: #ffffff;
      
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
.forfaitved{
    color: #9f55a1;
}
.mat-card-content{
    font-family: 'Bebas Neue';
    font-size: 23px;
    color: #fff;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #9f55a1, #ff2c6b);
}
.forfaitrabais{
    font-family: 'Bebas Neue', cursive;
    font-size: 22px; 
    color: #fff;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    
}
.mat-card-footer{
    display: flex; 
    justify-content: space-between; 
    margin-left: 1em;
    margin-right: 1em; 
}
.subhotel{
    color: rgb(59, 63, 68);
}
.forfaitdiv{
    display:flex; 
    justify-content: space-around;
}
.strikethrough{
    font-size: 20px;
    color: rgb(241, 75, 125);
    position: relative;
  
}
.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
  
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
  }