
   body { background-image: url(https://wi.wallpapertip.com/wsimgs/181-1813965_cyberpunk-2077-yellow-plain-background-wallpaper.jpg) }
   @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&display=swap');
   

   
   @font-face {
        font-family: cyber;
        src: url(../assets/Fonts/cyber.ttf) format("opentype");
      }



   

h1{

    font-family: 'cyber';
    padding-top: 0em;
    text-align: center;
    width: 0 auto;
    font-weight: 700;
    font-size: 400%;
    
}
button{
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
     border: 2px black;
    outline: none;
    background-color: rgb(96, 236, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px 15px;
    position: relative;
    font-family: cyber, sans-serif;
    font-size: .85rem;
    text-transform: uppercase;
  
}

 p{
    font-family: 'cyber', cursive;

    
    text-align: center;
    width: 0 auto;
    font-weight: 400;
    font-size: 100%;
 }
