.content{
    background: #e6e5e5;
}

.example-container {
    background: #e6e5e5;

     width: 400px;
    height: 200px;

  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  