


<mat-drawer-container class="example-container" autosize>

  <div class="example-sidenav-content">
   
    <mat-grid-list cols="3" rowHeight='950px' >
        <app-liste-forfait  ></app-liste-forfait> 
        
     
         </mat-grid-list>
  </div>
  
</mat-drawer-container>


<!------------------------
  
  
   <div class="example-sidenav-content">
    <button class="btn-hover mycolor reserve"  (click)="drawer.toggle()">
    RESERVE MAITENANT
     
    </button>
    ---------------------------------------->
