

.mat-drawer-container{
  background: #d9a7c7;  
  background: -webkit-linear-gradient(to left, #fffcdc, #d9a7c7);
  background: linear-gradient(to left, #fffcdc, #d9a7c7); 
  
}

.but{
  
  margin-left: 2em;  
  box-shadow: 0 8px 6px -6px rgb(54, 23, 54);

}
.reserve{
  margin-top: 12px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  color: #fdfbff;
  text-shadow: -1px -1px 3px #2a173f, 
      2px 2px 4px #2f1338;
 

}

.mat-sidenav, .mat-sidenav-content{

 padding: 16px;

}
.mat-sidenav{
  
  width: 350px;
}


