


<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
   <app-formulaire></app-formulaire>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button class="but" type="button" mat-raised-button color="primary" (click)="drawer.toggle()">
     <h1 class="reserve"  > Reserve maitenant</h1> 
     
    </button>
    <mat-grid-list cols="3" rowHeight='950px' >
        <app-liste-forfait  ></app-liste-forfait> 
     
         </mat-grid-list>
  </div>
  
</mat-drawer-container>



