

.mat-drawer-container{
  background: #d9a7c7;  
  background: -webkit-linear-gradient(to left, #fffcdc, #d9a7c7);
  background: linear-gradient(to left, #fffcdc, #d9a7c7); 
  
}

.my {
background-color: white;
}

.mat-sidenav, .mat-sidenav-content{

 padding: 16px;

}
.mat-sidenav{
  
  width: 350px;
}


