  
.img-container {
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    padding: 1em;
   

   
}
.image {
    height: 400px;
    width: 340px;

     
      box-shadow: deeppink;
    padding: 0.3rem;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 0 0.2rem;
    transition: 0.8s ease;
      padding: 0.3rem;
    border-radius: 10px 10px 10px 10px;
  
}
img:hover{
    
     color: deeppink;
      opacity: 0.50;
   
        

    -webkit-filter: blur(1px);
    filter: blur(1px);
    cursor: pointer;
    border-radius: 40px 10px 40px 0px;
   
  }

