<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Exercice 2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <link rel="stylesheet" href="CSS/styles.css">
    <style type="text/css">
        .clicked{
          text-decoration: underline purple 3px;
        }
        .state:focus ~ .label .text {
  transform: translate3d(8px, 0, 0);
  opacity: 1;
}
        .my{
          text-align:center

        }
      </style>
  </head>
  <body>
    <div class="my" id="firstDiv">
      <div class="form ">
        <label for="firstName">Prenom</label><br>
        <input id="firstName" type="text" v-model="firstName" /><br><br>
        <label for="lastName">Nom</label><br>
        <input id="lastName" type="text" v-model="lastName" /><br><br>
        <input  class="state" id="click" type="checkbox" @click="Underline()">Clique-moi 
        <label for="click"></label>

        
      </div>
      <h1 v-bind:class="[{ 'clicked': isClicked }]">{{firstName}} {{lastName}}</h1>
    </div>
      </span>
      </li>
    </div>
    <script>
        var firstVue = new Vue({
            el: '#firstDiv',
            data: {
              firstName: "Vadym",
              lastName: "Lityuk",
              isClicked: false
             
            },
       
        methods: {
          Underline() {
              this.isClicked = !this.isClicked
            }
        },
      });
    </script>
  </body>
</html>