<div class="example-container">
  <form class="example-form">
    
    <mat-form-field class="example-full-width">
      <input type="text"
            placeholder="Choisissez une destination"
            aria-label="Number"
            matInput
            [formControl]="destinationsControl"
            [matAutocomplete]="auto1">
      <mat-autocomplete #auto1="matAutocomplete">
        <mat-option *ngFor="let destination of >
          {{destination}}
        </mat-option>
      </mat-autocomplete>
      
    </mat-form-field>
      <mat-label>Select</mat-label>
      <mat-slider
      thumbLabel
      tickInterval="5"
      min="1"
      max="5"></mat-slider>
      <br>
  </form>
   
    
    
  
    
  
  </div>