@import '../style/variables.sass';

$H2: #8967c0;


.card {
  width: 32sch;
  height: 45ch;
  background: grey;
  box-shadow: $H2;
  background-color: $H2;
  background-size: cover;
  background-position: center center;
  will-change: transform;
  border: 2rem;
}




Label {
    color: $H2;
  }
  .violet {
    color: #8967c0;
  
  }
  .filmimage{
    height : 100%;
    width : 100%;
    }
    
  
    #myfilms{
      margin-top: 0.2rem;
         
    img:hover{
      opacity: 3;
      -webkit-animation: flash 2.1s;
      animation: flash 2.1s;
    }
    @-webkit-keyframes flash {
      0% {
        opacity: .4;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes flash {
      0% {
        opacity: .4;
      }
      100% {
        opacity: 1;
      }
    }
  
      
    }
    .grid-pad{
      padding: 0 8px ;
      
      
  
     
    }
    
      
 
  
    
  
  