

$H2: #8967c0;


.card {
  width: 32sch;
  height: 45ch;
  background: grey;
  box-shadow: $H2;
  background-color: $H2;
  background-size: cover;
  background-position: center center;
  will-change: transform;
  border: 2rem;
}



Label {
    color: $H2;
  }
  .violet {
    color: #8967c0;
  
  }
  